<%- include ../partials/header.ejs%>

  <h3>Enrolled Students</h3><br>
  <table>
    <thead>
      <th>Name</th>
      <th>Score</th>
    </thead>
    <tbody>
      <% for(let i=0; i<subjects.students.length; i++){ %>
        <tr>
          <td><%= subjects.students[i].firstName %> <%= subjects.students[i].lastName %></td>
          <% if(subjects.students[i].StudentSubject.score==null){ %>
            <td><a href="/students/<%= subjects.students[i].StudentSubject.id %>/
              <%= subjects.students[i].StudentSubject.StudentId %>/givescore">Give Score</a></td>
          <% } else { %>
            <td><%= subjects.students[i].StudentSubject.score %></td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>

<%- include ../partials/footer.ejs%>
